{% extends 'base.html' %}

{% block content %}
    <br>
<div class="flex justify-center items-center">
  <div class="w-full max-w-md">
    <h1 class="text-red-600 text-4xl font-bold">We've Emailed You Instructions</h1>
    <hr class="my-4">
    <p class="text-blue-500 mb-4">If an account exists with the email you entered, then you should receive them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  </div>
</div>
{% endblock %}
