{% extends 'base.html' %}

{% block content %}
    <br>
<div class="flex justify-center items-center ">
  <div class="w-full max-w-md  ">
    <h1 class="text-red-600 text-4xl font-bold">Password Reset</h1>
    <hr class="my-4">
    <p class="text-blue-500 mb-4">Forgot your password? Enter your email address below, and we'll email you instructions for setting a new one.</p>

    <form method="post" class="space-y-4">
      {% csrf_token %}

      <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Email" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">

      <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full w-full">Send Email</button>
    </form>
  </div>
</div>
{% endblock %}
