{% extends 'base.html' %}

{% block content %}
    <br>
<div class="flex justify-center items-center">
  <div class="w-full max-w-md ">
    <h1 class="text-red-600 text-4xl font-bold">Enter New Password</h1>
    <hr class="my-4">
    <p class="text-blue-500 mb-4">Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form method="post" class="space-y-4">
      {% csrf_token %}

      {% if form.errors %}
        <div class="bg-yellow-100 text-yellow-800 border border-yellow-300 px-4 py-2 rounded">
          Your Form Has Errors
          {% for field in form %}
            {% if field.errors %}
              {{ field.errors }}
            {% endif %}
          {% endfor %}

          {% if form.non_field_errors %}
            {{ form.non_field_errors }}
          {% endif %}
        </div>
      {% endif %}

      <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="New password" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">
      <ul class="list-disc pl-6 text-blue-500 space-y-1">
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
      </ul>

      <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="New password confirmation" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">

      <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full w-full">Update Password</button>
    </form>
  </div>
</div>
{% endblock %}
